<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="question" placeholder="Who are you looking for?">
  <input type="submit" value="Ask!">
</form>
